/* Universal CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --navbg-color: white;
  --footbg-color: rgb(25, 25, 78);
  --logo-color: rgb(2, 106, 2);
  --text-color: black;
  --hero-text: linear-gradient(to bottom right, #ff0303, #cce700, #ff2323);
  /* --hero-text: white; */
  --hero-bg: linear-gradient(to bottom right, #00fcd2, #00980f, #a3d81a);
  --box-shaddow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Header CSS */

header {
  height: 100px;
  width: 100vw;
  background-color: var(--navbg-color);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  position: fixed;
  top: 0px;
  z-index: 1;
}
#top {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#top > .logo > h1 {
  color: var(--logo-color);
  font-size: 40px;
  margin-left: 3vw;
}
nav hr {
  margin: 0px 2.5vw;
}

.searchbar > input {
  width: 22.5vw;
  border: none;
  font-size: 18px;
  outline: none;
}
.searchbar {
  width: 25vw;
  border: 1px solid black;
  border-radius: 7px;
  padding: 7px;
}
#function {
  display: flex;
  gap: 20px;
  margin-right: 3vw;
}
#function > li,
#menu > li,
#sidemenu > li,
#megamenu > li {
  list-style-type: none;
}
#function > li > a,
#menu > li > a,
#sidemenu > li > a,
#megamenu > li > a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
}
#menu > li > a:hover,
#megamenu > li > a :hover {
  color: #0da30a;
  font-weight: 600;
}
#function > li > a > span {
  margin-left: 7px;
}
#bottom {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu {
  display: flex;
  gap: 0px 40px;
}

/* Megamenu CSS */

#megamenu {
  position: absolute;
  top: 55px;
  right: 3vw;
  background-color: var(--navbg-color);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
#megamenu > li {
  margin-bottom: 15px;
  border-bottom: 1px solid gray;
  border-width: 90%;
}
#megamenu {
  opacity: 0;
  visibility: hidden;
}
#sidemenu:hover #megamenu {
  opacity: 1;
  visibility: visible;
}

/* Main Section CSS */

/* Set height for the hero section */
#hero {
  background-image: var(--hero-bg);
  width: 100vw;
  height: 20vh;
  margin-top: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text h1 {
  font-size: 4rem;
  background: var(--hero-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Media Queries */

@media (max-width: 1425px) {
  .searchbar > input {
    width: 20.8vw;
  }
  .hero-text h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 850px) {
  #function > li > a,
  #menu > li > a,
  #sidemenu > li > a,
  #megamenu > li > a {
    font-size: 16px;
  }
  #menu {
    display: flex;
    gap: 0px 25px;
  }
  .searchbar > input {
    font-size: 14px;
  }
  .searchbar {
    padding: 5px;
  }
  #top > .logo > h1 {
    font-size: 35px;
  }
  .searchbar > input {
    width: 19.8vw;
  }
  .hero-text h1 {
    font-size: 3rem;
  }
}

@media (max-width: 700px) {
  #function > li > a,
  #menu > li > a,
  #sidemenu > li > a,
  #megamenu > li > a {
    font-size: 14px;
  }
  #function > li > a > span {
    margin-left: 4px;
  }
  #function {
    display: flex;
    margin-right: 3vw;
  }
  #menu {
    display: flex;
    gap: 10px;
    gap: 0px 25px;
  }
  .searchbar > input {
    font-size: 12px;
  }
  .hero-text h1 {
    font-size: 2rem;
  }
}

@media (min-width: 625px) {
  #sidemenu {
    display: none;
  }
}
@media (max-width: 625px) {
  #menu {
    display: none;
  }
  #top > .logo > h1 {
    font-size: 30px;
  }
  #function > li > a > span {
    display: none;
  }

  #navsearch,
  .searchbar,
  #navsearchicon {
    display: none;
  }
  header {
    height: 60px;
  }
  #hero {
    margin-top: 65px;
  }
  #hero {
    height: 100px;
  }
}
@media (max-width: 425px) {
  #top > .logo > h1 {
    font-size: 25px;
  }
  .hero-text {
    top: 35%;
    left: 50%;
  }
  .hero-text h1 {
    font-size: 1.5rem;
  }
  #hero {
    height: 70px;
  }
}
